POSTGRES_USER=user
POSTGRES_PASSWORD=coloque_su_password
POSTGRES_DB=clinica

DATABASE_URL=postgresql://user:coloque_su_password@db:5432/clinica

ADMIN_AUTH_SECRET=coloque_un_secreto_de_minimo_32_caracteres